nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background-color: black;
}

nav > li {
  list-style: none;
}
nav > li > a:hover {
  color: var(--threedy-green);
}

main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #00ffaca3);
}

.card {
  padding: 2em;
}

a {
  color: var(--threedy-green);
}
.repo-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
}

/* card item styles */

.repo-card {
  margin: 1rem;
  box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px;
  border-radius: 0.3rem;
  background-color: var(--threedy-dark-blue);
  width: fit-content;
  max-width: 400px;
  height: 415px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.repo-card:hover {
  box-shadow: rgba(255, 255, 255, 0.5) 0px 2px 8px 0px;
  cursor: pointer;
  transition: all 125ms;
  border: 1px solid var(--threedy-green);
}

.repo-card > img {
  min-width: 400px;
  height: 200px;
}

.repo-card-description {
  display: block;
  padding: 0.4rem;
  margin: 0.4rem;
}

.repo-card-description > h2 {
  font-size: 1.3rem;
}

.repo-card-description > span {
  font-size: 1rem;
  opacity: 0.9;
}

.loading-message {
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 1.8rem;
  display: flex;
  grid-column-start: 2;
}

footer {
  color: var(--threedy-green);
  background-color: var(--threedy-dark-blue);
  z-index: 2;
  margin: 1rem;
  padding: 0.4rem;
  text-align: center;
}

/* simple media queries to properly wrap grid items */

@media only screen and (max-width: 1383px) {
  .repo-card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 946px) {
  .repo-card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.scroll-to-top {
  background-color: black;
  width: 200px;
}

.buttons-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.sticky-top {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 11;
}

header {
  display: flex;
  flex-direction: column;
}
