@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color-scheme: light dark;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --threedy-green: #00ffac;
  --threedy-dark-blue: #091227;

  background-image: url(./assets/background-logo.svg);
  background-color: var(--threedy-dark-blue);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 70%;
  background-attachment: fixed;
}
